*{
    margin:0;
    padding:0;
    box-sizing: border-box;
   
    --color1:#05AFF2;
    --color2:#05C7F2;
    --color3:#50ABBF;
    --color4:#ACF2F2;
    --color5:#F2F2F2;
}
#content{
    width:45%;
    margin:25px auto;
    background-color: var(--color2);
    box-shadow: 4px 5px 10px;
    background: linear-gradient(to bottom right, var(--color4), var(--color1));    
}
#cabecera,#cursos{
    height: 100px;
    padding:5px;
}
#cabecera img{
    height: 100%;   
}
#tareas{
    text-align: center;
}
#personal{
    height: 280px;
    text-align: center ;   
}
#personal img{
    height: 70%;
    border-radius: 50%;
    padding:5px;
    background-color: #F2F2F2;
    border:1px dashed red;      
}
#personal h1{    
    text-shadow: 5px 5px 10px dimgray;
}
#personal p{
    font-style: oblique;
    color:var(--color5);    
}
#tareas{
    height: 180px;     
}
#tareas ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
    height: 70%;  
}
#tareas li{
    list-style-type: none;
    margin: 3px;   
    height: 20%;   
    background-color: #F2F2F2;
    align-content: center;   
}
#tareas a{
    padding:10px;
    text-decoration: none;
    color:black;
    height: 40px;    
}
#tareas a:hover{
    background-color: dimgrey;
    color:#F2F2F2
}
#tareas p{
    text-transform: uppercase;
    font-weight: bold;
    background-color:#F2F2F2;
    padding:5px;
    margin:5px 40px;
}

#cursos{
    display:flex;
    flex-direction: row;
    justify-content: center;
    height: 150px;
    text-align: center;
    
}
.curso{
    margin:5px;
}
.curso img{
    height: 80%;
    box-shadow: 2px 2px 5px dimgrey;
}
figcaption{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}